<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>Anomaly Detection</title>
    <script type="module"></script>
</head>
<body class="all-page">
<h1 class="title">Anomaly Detection Web App</h1>
<form action="/detect" method="post" enctype="multipart/form-data" name="searchForm" target="result">
    <label for="selectedAlgo" class="choose-algorithm">Choose algorithm</label><br/>
    <select id="selectedAlgo" class="select-algorithm" onchange="getAlgorithm(this)" name="selectedAlgo" size="2">
        <option selected value="linear">Linear</option>
        <option value="hybrid">Hybrid</option>
    </select><br><br>

    <script>
        function getAlgorithm(selection){
            let selectedAlgo = selection.options[selection.selectedIndex].text;
            // Eyal & Ronli
        }
    </script>
    <table>
        <tr>
            <td id="learnError" class="error-text"></td>
            <td><input type="file" id="learnFile" class="file-button" name="learnFile"></td>
            <td>קובץ למידה</td>
        </tr>
        <tr>
            <td id="anomalyError" class="error-text"></td>
            <td><input type="file" id="anomalyFile" class="file-button" name="anomalyFile"></td>
            <td>קובץ חריגות</td>
        </tr>
    </table>
    <br>
    <input type="button"  id="upload" class="upload-button" value="check files" onclick="uploadFiles()">
    <div id="submit"></div>
    <script src="checkFiles.js"></script>
</form>


<iframe class="frame" name="result" width="1670" height="450">

</iframe>
<br>










<!--
<table width="100%">
    <tr>
        <td>
            <p id="list"></p>
            <script type="module" src="selectGraphList.js"></script>
            <script type="module">
                import {values} from './graph.js';
                //console.log(values)

                let val = [];
                function getGraphProperty (selection){
                    console.log(values)
                    let selectedGraph = selection.options[selection.selectedIndex].text;
                    //val = values[selection.selectedIndex];
                    alert(selectedGraph)
                }
            </script>

        </td>
        <td>
            <canvas id="myChart" style="width:100%;height: 260px; max-width:700px;margin-left: 70px"></canvas>
        </td>
        <td>
            <p id="anomaly-list"></p>
            <script type="module" src="anomalyList.js"></script>
        </td>
    </tr>
    <tr class="show-graph">
        <td><script type="module" src="showGraph.js"></script></td>
    </tr>
</table>

-->


</body>
</html>